body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
header{
    .navbar{
        display: flex;
        justify-content: space-around;
        max-width: 1500px;
        margin: 0 auto;
        align-items: center;
    }
   
    ul{
        padding: 43px;
    }
    ul li{
        display: inline;
        list-style: none;
        padding: 1rem;
        font-size: 0.9rem;
        font-weight: bolder;
        padding: 39px 13px;
        &:hover{
            border-bottom: solid 4px rgb(83, 83, 233);
        }
    }
    li a{
        text-decoration: none;
        color:black;
    }
   
    img{
    width: 80px;
    height: 80px;
    }
}
main{
    main{
        position: relative;
        z-index: 50;
    }
    .posizionamento-elementi{
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .black-band{
        background-image: url(../../public/assets/img/jumbotron.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 350px;    
    }
    .content-azzurro{
        height: 210px;
        background-color: rgb(0, 178, 238);
        display:flex
    }
    h1{
        color: white;
    }
    
    .content-container{
        display: flex;
        align-items: center;
    }
    .content-container-images{
        justify-content: center;
    }
    ul{
        display: flex;
        list-style: none;
    }
    .comics-container{
        background-color: rgb(24, 24, 24);
        color: white;
        padding-top: 55px;
        height: 785px;
    }
    .wrapper-comics{
        display: flex;
        flex-wrap: wrap;
    }
    .button-loader{
        padding: 1px;
        background-color: rgb(100, 100, 235);
        width: 15%;
        text-align: center;
        margin: 0 auto;
        margin-top: 43px;
    }
    .button-current-series{
        padding: 1px;
        background-color: rgb(100, 100, 235);
        width: 20%;
        text-align: center;
        font-size: bolder;
        font-weight: bold;
        font-size: 1.65rem;
        position: relative;
        bottom: 79px;
    }
    .button-loader a, .button-current-series a{
        text-decoration: none;
        color: white;
    }

    .img-wrapper{
        height: 180px;
        width: 170px;
        padding: 8px 0px;
    }
    .width-img-wrapper{
        width: calc( 100% / 6);
    }
    li{
        padding: 0 30px;
        display: flex;
        align-items: center;
    }
    img{
            width: 56px;
            height: 62px;
    }
    .text-style{
        font-size: 17px;
        color: white;
        padding-left: 12px;
    }
}
footer{
    footer{
        background-image: url(../../public/assets/img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        height: 380px;
    }
    .container2{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }
    .container-ul{
        
        color: white;
        display: flex;
    }
    ul li{
        list-style: none;
    }
    ul{
        padding: 30px;
    }
    .flex-ul{
        display: flex;
    }
    .font{
        font-size: 14px;
       
    }
    li h2{
        padding-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: rgb(185, 184, 184);
         &:hover{
            color: rgb(241, 241, 241);
         }
    }
    .bg-logo{
        position: relative;
        bottom: 106px;
        z-index: 1;
    }
    .index-definer{
        background-color: rgb(51, 51, 51);
        position: relative;
        z-index: 50;
    }
    .signUpBorder{
        padding: 12px;
        border: solid 3px rgb(80, 80, 231);
        font-weight: bolder;
    }
    .footerUL{
        display: flex;
        align-items: center;
    }
    .footerUL li{
        padding: 10px
    }
    .footerUL li h2{
        color: rgb(80, 80, 231);;
    }
    .bg-last{
        background-color: rgb(22, 22, 22);
        height: 130px
    }
}

    



