body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .navbar {
  display: flex;
  justify-content: space-around;
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
}

header ul {
  padding: 43px;
}

header ul li {
  display: inline;
  list-style: none;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: bolder;
  padding: 39px 13px;
}

header ul li:hover {
  border-bottom: solid 4px rgb(83, 83, 233);
}

header li a {
  text-decoration: none;
  color: black;
}

header img {
  width: 80px;
  height: 80px;
}

main main {
  position: relative;
  z-index: 50;
}

main .posizionamento-elementi {
  max-width: 1200px;
  margin: 0 auto;
}

main .black-band {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
}

main .content-azzurro {
  height: 210px;
  background-color: rgb(0, 178, 238);
  display: flex;
}

main h1 {
  color: white;
}

main .content-container {
  display: flex;
  align-items: center;
}

main .content-container-images {
  justify-content: center;
}

main ul {
  display: flex;
  list-style: none;
}

main .comics-container {
  height: 630px;
  background-color: rgb(24, 24, 24);
  color: white;
  padding-top: 55px;
}

main .wrapper-comics {
  display: flex;
  flex-wrap: wrap;
}

main .button-loader {
  padding: 10px;
  background-color: rgb(100, 100, 235);
  width: 15%;
  text-align: center;
  margin: 0 auto;
  margin-top: 43px;
}

main .button-current-series {
  padding: 10px;
  background-color: rgb(100, 100, 235);
  width: 18%;
  text-align: center;
  font-size: bolder;
  font-weight: bold;
  font-size: 1.65rem;
  position: relative;
  bottom: 79px;
}

main .button-loader a,
main .button-current-series a {
  text-decoration: none;
  color: white;
}

main .img-wrapper {
  height: 180px;
  width: 170px;
  padding: 8px 0px;
}

main .width-img-wrapper {
  width: 16.6666666667%;
}

main li {
  padding: 0 30px;
  display: flex;
  align-items: center;
}

main img {
  width: 56px;
  height: 62px;
}

main .text-style {
  font-size: 17px;
  color: white;
  padding-left: 12px;
}

footer footer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-repeat: no-repeat;
  background-size: cover;
}

footer .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  height: 380px;
}

footer .container2 {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

footer .container-ul {
  color: white;
  display: flex;
}

footer ul li {
  list-style: none;
}

footer ul {
  padding: 30px;
}

footer .flex-ul {
  display: flex;
}

footer .font {
  font-size: 14px;
}

footer li h2 {
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: rgb(185, 184, 184);
}

footer a:hover {
  color: rgb(241, 241, 241);
}

footer .bg-logo {
  position: relative;
  bottom: 106px;
  z-index: 1;
}

footer .index-definer {
  background-color: rgb(51, 51, 51);
  position: relative;
  z-index: 50;
}

footer .signUpBorder {
  padding: 12px;
  border: solid 3px rgb(80, 80, 231);
  font-weight: bolder;
  height: 50px;
}

footer .footerUL {
  display: flex;
}

footer .footerUL li {
  padding: 10px;
}

footer .footerUL li h2 {
  color: rgb(80, 80, 231);
}

footer .bg-last {
  background-color: rgb(22, 22, 22);
  height: 130px;
}

